/* Модальное окно */
.feedback_form {
    max-width: 900px;
    margin: 0 auto;
}

.feedback_text_textarea {
    box-shadow: 2px 2px 10px #bdbdbd;
    padding: 10px 15px;
    height: 300px;
    width: 100%;
}

.container {
    width: 100%;
}

#selected-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.selected-item {
    padding: 10px;
    background-color: #0082cb;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}


.stars {
    display: flex;
    gap: 5px;
  }

  .stars img {
    width: 30px;
    height: 30px;
    transition: filter 0.2s ease;
  }

  .stars img:hover {
    filter: brightness(50%);
  }

  .stars img.hovered,
  .stars img.selected {
    filter: brightness(50%);
  }


@media (max-width: 1000px) {
    .modal {
        width: 95%;
    }
}
