.price_section {
    position: relative;
}

.accordion_section {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

  .accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .accordion_btn {
    position: relative;
    width: 100%;
    text-align: left;
    outline: none;
    transition: all .5s;
    cursor: pointer;
    border: 1px solid #DCDCDC;
    background: #f5f5f5;
}

.accordion_btn:hover {
    color: #0082cb;
}

.accordion_item__title {
    max-width: 90%;
}

.accordion_btn__active {
    background: #ffffffc4;
    color: #0082cb;
    margin-left: 15px;
    box-shadow: 3px 3px 5px #dadada;
    margin-bottom: 10px;
}

.accordion_content {
    max-height: 0;
    padding: 0px 20px;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    background: #ffffffc4;
    border: 1px solid #d3d3d300;
    border-radius: 10px;

    display: flex;
    overflow: hidden;
    transition: all 0.4s;
}

.accordion_content__active {
    padding: 10px 20px;
    border: 1px solid #d3d3d3;
    margin-left: 15px;
}

.column_block {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.column_block:not(:last-child) {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 10px;
}

  /* минус/плюс */
.plus {
    position: absolute;
    top: calc(50% - 10px);
    right: 15px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.plus rect {
    transition: all 0.3s;
    transform: rotate(0);
}

.active_item .vertical-line {
    transform: rotate3d(1, 1, 0, 90deg);
}

/* big Item */

.price_section .big_icon {
    position: absolute;
    top: 180px;
    right: calc(50% - 550px);
    z-index: -1;
}

@media (max-width: 1200px) {
    .price_section .big_icon {
        right: 0px;
    }
}

@media (max-width: 1000px) {
    .big_icon {
        display: none;
    }
    .accordion_section {
        max-width: 100%;
    }
    .accordion_btn__active,
    .accordion_content__active {
        margin-left: 0;
    }
}

@media (max-width: 1000px) {
    .price_block {
        text-align: end;
    }
}

@media (max-width: 630px) {
    .price_block {
      max-width: 80px;
    }
}
